body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html {
	font-size: 85%;
	background-color: #f4a460;
}

/* .App {
	font-family: sans-serif;
	text-align: center;
} */

form {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 300px;
	margin: 0 auto;
}

label {
	margin-bottom: 15%;
	font-size: 1.4rem;
}

input {
	width: 100%;
	margin: 5px 0 0;
	display: block;
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	transition: all 0.3s;
	font-size: 1.4rem;
	letter-spacing: 0.5px;
	background-color: white;
}

select,
textarea {
	width: 100%;
	margin: 5px 0 0;
	display: block;
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	transition: all 0.3s;
	font-size: 1.4rem;
	letter-spacing: 0.5px;
	background-color: white;
}
select {
	height: 40px;
	width: 325px;
}

select:focus {
	outline: none;
	border-color: #1ee7e2;
}

input:focus {
	outline: none;
	border-color: #1ee7e2;
}

input:placeholder {
	color: #a8b2b2;
}

button {
	width: 180px;
	height: 50px;
	display: inline-block;
	padding: 8px 11px;
	font-size: 1.2rem;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
	letter-spacing: 2px;
	outline: none;
	background-color: #4dd0e1;
	background-image: linear-gradient(to right, #4dd0e1, #1ee7e2);
	color: purple;
	cursor: pointer;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
	background-image: none;
	background-color: #4dd0e1;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

button:disabled {
	background-image: none;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.1);
	cursor: not-allowed;
}

.error {
	font-size: 1.2rem;
	color: red;
}

h1 {
	margin-top: 50%;
	padding: 50px;
	margin-left: 5%;
}

.register-button {
	margin-right: 50px;
}

/* .nav-bar {
	background-color: teal;
} */

h2 {
	margin-right: 1%;
}

.dashboard h2 {
	font-size: 60px;
	margin-left: 1.2%;
	text-decoration: underline;
}

.dashboard h3 {
	font-size: 25px;
	text-decoration: underline;
}

.dashboard p {
	font-size: 20px;
}

nav a {
	font-size: 20px;
	color: teal;
	font-family: sans-serif;
}
