body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-form {
  width: 50%;
  text-align: center;
  margin: 2% auto;
  padding-bottom: 2%;
  border: 2px solid black;
}

.errors-container {
  color: red;
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

button {
  margin: 2% auto;
}
